@model ClienteJuegos.Models.Juegos

@{
    ViewBag.Title = "Juego";
}

<h2>Juego</h2>

<div>
    <h4>Juegos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdJuego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdJuego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="@Model.Foto"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Argumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Argumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "ListaJuegos")
</p>
